#h1 {
    font-size: 30px;
    -unity-font-style: bold;
}

#h2 {
    -unity-font-style: bold;
    font-size: 27px;
}

#h3 {
    -unity-font-style: bold;
    font-size: 24px;
}

#h4 {
    -unity-font-style: bold;
    font-size: 21px;
}

#h5 {
    -unity-font-style: bold;
    font-size: 18px;
}

#h6 {
    -unity-font-style: bold;
    font-size: 15px;
}

#r {
    font-size: 20px;
    color: rgb(192, 192, 192);
}
